@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #F9F9F9;
}

header{
    display: inline-grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.button{
    display: flex;
    flex-direction:column;
    align-items: center;
}

section.filter{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    height: 100%;
    width: 100%;
}

#title-header {  
    font-family: "Playfair Display";
    font-optical-sizing: auto;
    font-weight: 700;
    color: #2E4057;
}

.property-id{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

.card-img{
    width:350px;
    height: 350px;
}

h3{
    margin: 0;
}
p{
    margin: 0;
    font-size: 14px;
}

.background-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.25s ease-in-out;
    padding: 20px;
}

.modal{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 60%;
    max-width: 600px;
    max-height: 80vh;
    background-color: #fff;
    color: black;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    background-color: #F9F9F9;
    border-bottom: 1px solid #e0e0e0;
    flex-shrink: 0;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
}

.children-modal {
    flex: 1; /* all the left space*/
    overflow-y: auto; /*vertical scroll*/
    padding: 20px 24px;
    color: #444;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.children-modal::-webkit-scrollbar {
  width: 8px;
}

.children-modal::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.children-modal::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 1002;
}

.close-img {
    height: 30px;
}

.filter-price-range{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.filter-amenities{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.list-amenities {
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 100px);
    padding: 5px;
    width: 100%;
}

.control{
    display: flex;
    gap: 1rem; 
}

.control-item {
    display: flex;
    flex-direction: column-reverse; 
    align-items: flex-start; 
}

.control-container-input {
    width: 100px; 
    padding: 6px 10px;
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
    
}

.control-container {
    margin-top: 4px;
    font-size: 14px;
    color: #555;
}


.filter-buttons {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    font-family: "Roboto Mono", monospace;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.clear-filter-button {
    border-color: #2E4057;
    margin-right: 5px;
}

.apply-filter-button {
    background-color: #2E4057;
    color: #fff;
    margin-right: 5px;
}

.generic-search {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.generic-search-text {
    width: 400px;
    height: 25px;
    float: left;
    border: none;
    transition: 0.5s;
    outline: none;
    font-family: "Slate";
    font-weight: 400;
    border-radius: 3px;
    padding: 10px;
}

.generic-search-text:focus {
    outline: none;
}


#generic-search-button {
    float: left;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: #2E4057;
    background-image: url(../src/assets/search-3.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 3px;
}